.input {
  height: 50px;
  width: 50px;
  border: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #007ee6;
  padding-right: 40px;
  color: rgb(14, 12, 12);
}
.input:hover {
  cursor: pointer;
}
.input::placeholder {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input:focus {
  width: 80%;
  border: 1px solid #007ee6;
  border-radius: 10px;
  background-color: transparent;

  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.result {
  padding-top: 20px;
}
